@import '../../_styles/core/base';

.c-table
  zoom 1
  width 100%

.c-table_head
  height 36px

.c-table_body
  @extend .clear

.c-table_row
  padding gutter 0

.c-table_cell
  @extend .f-roboto
  padding gutter 0
