@import '../../_styles/core/base';

.c-button
  display block
  min-width 100px
  padding gutter

  @extend .f-roboto
  font-size remify(14px)
  color white

  cursor pointer

  vertical-align bottom

  background-color $pink
  border solid 1px transparent

