@import '../../_styles/core/base';

.c-button
  display block
  min-width 100px
  padding gutter

  @extend .f-roboto
  font-size remify(14px)
  color white

  cursor pointer

  vertical-alignt bottom

  background-color $blue
  border solid 1px transparent

