@import '../../_styles/core/base';

.c-graph
  zoom 1
  width 100%
  position relative

.c-graph--bar
  @extend .c-graph

.c-graph_bar
  position absolute
  top 0
  left 0;

  height 100%;

  padding gutter 0

  background-color $green

  font-size remify(12px)
  text-align center

  color $dark-gray
  @extend .f-roboto

  border-bottom solid 1px white

  transition width 300ms ease