@import '../../_styles/core/base';

.c-graph
  zoom 1
  width 100%
  position relative

.c-graph--bar
  @extend .c-graph

.c-graph_bar
  position absolute
  top 0
  left 0;

  height 100%;

  padding gutter 0

  background-color $pink

  color $dark-gray
  @extend .f-roboto